.income-expense{
    display: flex;
    justify-content: space-around;
    text-align: center;

    @include responsive(tab-land) {
       
        display: flex;
        justify-content: space-evenly;
    } 

    @include responsive(tab-port) {

        display: flex;
        justify-content: space-evenly; 
        }

    @include responsive(phone) {

        display: flex;
        flex-direction: column;
        
        } 
}


.option {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;

    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 

    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
        
        } 
}


.desc {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;



    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 

    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
        
        } 

}


.value {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;



    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 

    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
        
        } 
}


.option-input-button {

    display: flex;
    justify-content:space-evenly;

    @include responsive(tab-land) {
       
        display: flex;
        justify-content:space-evenly;
    } 


    @include responsive(tab-port) {

        display: flex;
        flex-direction: column; 
        }

    @include responsive(phone) {

        display: flex;
        flex-direction: column;
        
        } 

    }


    