@mixin positionCenter {
    
    display: flex;
    justify-content: center;
    margin: auto;
}


@mixin positionColumn {

    display: flex;
    flex-direction: column;
    margin: auto;
}


@mixin positionSpaceEvenly {
    
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}



.income-container{

    @include positionCenter;  

}

.income-1 {

@include positionCenter;

}

.expense-container{

@include positionCenter;

}

.expense-1 {

@include positionCenter;
    
}

.income-expense{

    @include positionSpaceEvenly;
    text-align: center;

    @include responsive(tab-land) {
    
        @include positionSpaceEvenly;
    } 

    @include responsive(tab-port) {

        @include positionSpaceEvenly;

        }

    @include responsive(phone) {

        @include positionColumn;

        } 
    }

.option {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;

    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 
    
    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
    } 
}

.option-input-button {

    @include positionSpaceEvenly;
    


    @include responsive(tab-land) {
       
        @include positionSpaceEvenly;

    } 


    @include responsive(tab-port) {

        @include positionColumn;

        }

    @include responsive(phone) {
        
        @include positionColumn;
        
        } 
}


#desc {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;

    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 

    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
        
        } 
}


#value {

    padding-left: 2%;
    padding-right: 2%;
    color: $colorG;
    font-size: 1,2rem;

    @include responsive(tab-land) {
        font-size: 1,2rem;
    } 

    @include responsive(tab-port) {
        font-size: 0,5rem;
    }

    @include responsive(phone) {
        font-size: 0,5rem;
        
        } 
}